body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

/*HEADER*/
.brand-logo h1 {
  font-size: 35px;
  margin-top: 10px;
  padding-left: 15px;
}

.nav-wrapper {
  min-height: 85px;
}

/*LOGIN MODAL */

#login .modal-content {
  position: relative;
}

#login form {
  width: 100%;
  text-align: center;
}


#login label{
  color : white;
  font-size: 1.2em;
  margin:0!important;
}

.modal-content > a, .modal-content h3  {
  text-align: center;
  width: 100%;
}

#login label input {
  color: grey;
  margin: 0;
  background-color: white;
}

#login .modal-close {
  position: absolute;
  top: 20px;
  width: 40px;
  right: 20px;

}
.modal-header {
  padding-top: 10px;
  border: 3px solid rgb(158,158,158);
  text-align: center;

}

.RUsure {
  margin: 10px;
}

/*FORMULAIRE DINSCRIPTION */
.form_inscription > *{
  text-align: center;
  margin: 30px;
}

.wrong {
  font-weight: bold;
  padding: 10px!important;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  right: 15px;
  top: 25vh;
  z-index: 50;
}

.wrong.wrongmail {
top: 35vh;
}


/*DISPLAY PROJECT ON PERSONAL SPACE */

.projet {
  font-size: 0.9em;
  overflow-y: hidden;
  /*border: 1px solid red;*/
  height: 500px;
  position: relative;
}

img.activator {
  margin-top: 10px;
  height: 170px;
}

.card-action {
  position: absolute!important;
  bottom: -20px;
  right : 10px;
  height: 50px;
  width: 100%;
}

.card-action a {
  position : relative;
  bottom : 10px;
}

.fa-plus-circle {
  position: absolute;
  bottom: 88%;
  z-index: 1;
  right: 10%;
}

.card-reveal {
  z-index: 5;
  overflow-y: auto;
}

.card-reveal .highlight {
  margin-bottom: 60px;
}

.projet .chef-chantier {
  bottom : 30px;
  text-align: right;
}


/*DISPLAY DETAILS MAIN*/

#details {
  width : 90%;
  padding-top : 10px;
}

.collapsible-header {
  display: flexbox;
  flex-flow : row wrap;
  justify-content : space-around;
}

.collapsible-header .trash {
  position : relative;
}

.collapsible-header .trash i {
  position : absolute;
  left : -25px;
  top : 100%;
  font-size: 1em;

}

.new-step .btn {
  margin : 10px;
}

/*#details {
  width : 90%;
  padding-top : 10px;
  /*padding : 10px auto auto 10px;*/
  /*border: 1px solid red!important;*/
  /*background-color: black!important;*/
/*}*/

/*FOOTER */
footer {
  margin-top: auto;
}



@media(min-width:990px) {
/*HEADER*/

  .brand-logo h1 {
    font-size: 45px;
    margin-top: 40px;
    padding-left: 35px;
  }

  header nav.teal .nav-wrapper {
    min-height: 135px;
  }

  #nav-mobile li {
    margin: 25px;
  }

}
