body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

/*HEADER*/
.brand-logo h1 {
  font-size: 35px;
  margin-top: 10px;
  padding-left: 15px;
}

.nav-wrapper {
  min-height: 85px;
}

/*LOGIN MODAL */

#login .modal-content {
  position: relative;
}

#login form {
  width: 100%;
  text-align: center;
}


#login label{
  color : white;
  font-size: 1.2em;
  margin:0!important;
}

.modal-content > a, .modal-content h3  {
  text-align: center;
  width: 100%;
}

#login label input {
  color: grey;
  margin: 0;
  background-color: white;
}

#login .modal-close {
  position: absolute;
  top: 20px;
  width: 40px;
  right: 20px;

}
.modal-header {
  padding-top: 10px;
  border: 3px solid rgb(158,158,158);
  text-align: center;

}

.RUsure {
  margin: 10px;
}

/*FORMULAIRE DINSCRIPTION */
.form_inscription > *{
  text-align: center;
  margin: 30px;
}

.wrong {
  font-weight: bold;
  padding: 10px!important;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  right: 15px;
  top: 25vh;
}

.wrong.wrongmail {
top: 35vh;
}

/*FORMULAIRE CREATION PROJET*/
/*.form_inscription .create_project > input {
  margin-top: 130px!important;
}*/

/*FOOTER */
footer {
  margin-top: auto;
}



@media(min-width:990px) {
/*HEADER*/

  .brand-logo h1 {
    font-size: 45px;
    margin-top: 40px;
    padding-left: 35px;
  }

  header nav.teal .nav-wrapper {
    min-height: 135px;
  }

  #nav-mobile li {
    margin: 25px;
  }

}
