body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

button {
  border: none;
  background-color: inherit;
}

button:focus {
  background-color: inherit!important;
  color: teal;
  font-weight: bold;
}

input[type="submit"], .type-submit {
margin-top : 10px;
}

/*HEADER*/
.brand-logo h1 {
  font-size: 35px;
  margin-top: 10px;
  padding-left: 15px;
}

.nav-wrapper {
  min-height: 85px;
}

/*LOGIN MODAL */

#login .modal-content {
  position: relative;
}

#login form {
  width: 100%;
  text-align: center;
}


#login label{
  color : white;
  font-size: 1.2em;
  margin:0!important;
}

.modal-content > a, .modal-content h3  {
  text-align: center;
  width: 100%;
}

#login label input {
  color: grey;
  margin: 0;
  background-color: white;
}

#login .modal-close {
  position: absolute;
  top: 20px;
  width: 40px;
  right: 20px;

}
.modal-header {
  padding-top: 10px;
  border: 3px solid rgb(84,110,122);
  border-bottom: 3px solid white;
  text-align: center;

}

.RUsure {
  margin: 10px;
}

main .main {
  width : 90%;
  padding-top : 10px;
}

/*FORMULAIRE DINSCRIPTION */
.form_inscription > *{
  text-align: center;
  margin: 30px;
}

.wrong {
  font-weight: bold;
  padding: 10px!important;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  right: 15px;
  top: 25vh;
  z-index: 50;
}

.wrong.wrongmail {
top: 35vh;
}


/*DISPLAY PROJECT ON PERSONAL SPACE */

.nav-content .tab {
  position : relative;
  left : 1%;
}

.nav-content .tab:last-of-type {
  position : relative;
  left : 3%;
}

.projet {
  font-size: 0.9em;
  overflow-y: hidden;
  /*border: 1px solid red;*/
  height: 500px;
  position: relative;
}

img.activator {
  margin-top: 10px;
  height: 170px;
}

.card-action {
  position: absolute!important;
  bottom: -20px;
  right : 10px;
  height: 50px;
  width: 100%;
}

.card-action a {
  position : relative;
  bottom : 10px;
}

.fa-plus-circle {
  position: absolute;
  bottom: 88%;
  z-index: 1;
  right: 10%;
}

.card-reveal {
  z-index: 5;
  overflow-y: auto;
}

.card-reveal .highlight {
  margin-bottom: 60px;
}

.projet .chef-chantier {
  bottom : 30px;
  text-align: right;
}


/*DISPLAY DETAILS MAIN*/

#details, #encours, #archives {
  width : 90%;
  padding-top : 10px;
}

.detail-titre {
 text-shadow : 0 1px 1px grey;
 margin :0!important;
 padding: 10px 10px 20px 10px;
 border-bottom : 3px solid teal;
}

.collapsible-header {
  display: flexbox;
  flex-flow : row wrap;
  justify-content : space-around;
}

.collapsible-header .trash {
  position : relative;
}

.collapsible-header .trash i {
  position : absolute;
  left : -15px;
  top : 100%;
  font-size: 1em;

}


.new-step .btn {
  margin : 10px;
}


.collapsible-body .tableau {
  margin-top: -40px!important;
}



/*mise en page archive */
#archives {
  min-height: 450px;
}

#archives > table {
  margin-top: 450px;
}

#archives > table > thead > tr {
  line-height: 40px;
}

#archives .archive-a-cacher {
  max-height : 500px;
  overflow-y : auto;
  position : absolute;
  right : 3%;
  padding : 10px;
  border-radius : 5px;
  text-align: justify;
}

#archives .add-border {
  border-top : 3px solid white; padding-top : 5px;
}

#archives form.to-sort {
  margin-top : 1em; border-radius : 5px; padding : 10px;
}
/*FOOTER */
footer {
  margin-top: auto;
}

footer .real-site {
  font-weight :bold;
  font-style: italic;
}

@media (min-width:600px) {
  #archives > table {
    margin-top: 0px;
  }
}


@media(min-width:990px) {
/*HEADER*/

  .brand-logo h1 {
    font-size: 45px;
    margin-top: 40px;
    padding-left: 35px;
  }

  header nav.teal .nav-wrapper {
    min-height: 135px;
  }

  #nav-mobile li {
    margin: 25px;
  }

}
